* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body.dark {
  background-color: #0f172a;
  color: white;
}

body.light {
  background-color: white; 
  color: black;
}

.light-div {
  background-color: #f8fafc;
  color: black;
  border-radius: 10px;
}

body.dark .light-div {
  background-color: #1e293b;
  color: white;
}

.light-div.active {
  background-color: black;
  color: white;
}

body.dark .light-div.active {
  background-color: white;
  color: black;
}

#git {
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 15px 10px;
}

#error-div {
  width: 88vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 0 90px;
}

@media (max-width: 1056px) {
  #header {
    flex-wrap: wrap;
    height: auto;
    gap: 30px;
    justify-content: space-between;
  }
  #header > div:nth-child(2) {
    width: 100%;
    order: 3;
    text-align: center;
  }
  #error-div {
    margin: 0 40px;
  }
}

@media (max-width: 490px) {
  #header {
    height: auto;
    gap: 15px 0;
    padding: 10px;
    align-items: center;
  }

  #header > div:nth-child(1) {
    order: 1;
    width: auto;
  }

  #header > div:nth-child(4) {
    order: 2;
  }

  #header > div:nth-child(5) {
    order: 3;
    width: 80%;
  }

  #header > div:nth-child(2) {
    order: 4;
    width: 60%;
    margin: 0 12px;
  }

  #header > div:nth-child(3) {
    order: 5;
  }
  #error-div {
    margin: 0 20px;
  }
}

#nextForecastDiv {
  width: 100%;
  padding: 50px 90px;
}

.otherWeatherInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 30px;
}

@media (max-width: 1056px) {
  #hero{
    padding: 50px 30px;
  }
  #hero-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  #hDiv1 {
    width: 100%;
    grid-column: 1; 
    grid-row: 1; 
  }

  #hDiv2 {
    width: 100%;
    grid-column: 2; 
    grid-row: 1 / span 2;
    grid-template-columns: 1fr;
  }

  .otherWeatherInfo {
    height: 130px;
  }

  #hDiv3 {
    width: 100%;
    grid-column: 1; 
    grid-row: 2;
  }
}

@media (max-width: 590px) {
  #hero,
  #nextForecastDiv {
    padding: 20px 25px;
  }
  #hero-div {
    display: flex;
    flex-direction: column;
  }
}

#footerText {
  width: 65%;
  padding: 20px;
  text-align: center;
  color: rgb(139, 134, 134);
}

@media (max-width: 625px) {
  #footerDiv {
    flex-wrap: wrap;
    height: auto;
    padding: 20px;
  }
  #footerDiv > div:nth-child(2) {
    width: 100%;
    order: 3;
    text-align: center;
    margin-top: 15px;
  }
}

#buttonsDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#buttonsDiv > div {
  padding: 10px;
  cursor: pointer;
}

#dataDiv {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
  padding: 20px 0;
}

@media (max-width: 820px) {
  #dataDiv {
    grid-template-columns: repeat(3, auto);
  }
}
@media (max-width: 660px) {
  #dataDiv {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 480px) {
  #dataDiv {
    grid-template-columns: repeat(1, auto);
  }
}
